<?xml version="1.0"?>
<launch>
    <!-- config file path  -->
    <arg name="rviz_settings" default="$(find chibi23_b)/config/rviz/chibi23_b.rviz"/>
    <arg name="map_settings" default="$(find chibi23_b)/map/map.yaml"/>
    <arg name="global_path_planner_settings" default="$(find chibi23_b)/config/param/global_path_planner.yaml"/>

    <!-- node launch -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_settings)"/>
    <!-- <node pkg="chibi23_b" type="obstacle_expander_node" name="obstacle_expander" output="screen"> -->
    <!--     <rosparam command="load" file="$(arg obstacle_expander_settings)"/> -->
    <!-- </node> -->
    <node pkg="chibi23_b" type="global_path_planner" name="global_path_planner" output="screen">
        <rosparam command="load" file="$(arg global_path_planner_settings)"/>
    </node>
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_settings)" output="screen"/>
</launch>
