<?xml version="1.0"?>

<launch>
    <!-- yaml file path-->
    <arg name="map_file" default="$(find chibi23_b)/map/map.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" output="screen"/>
    <arg name="localizer_settings" default="$(find chibi23_b)/config/param/localizer.yaml"/>

    <!-- node launch-->
    <node pkg="chibi23_b" type="localizer" name="localizer" output="screen">
        <rosparam command="load" file="$(arg localizer_settings)"/>
    </node>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find chibi23_b)/config/rviz/localizer_1.rviz"/>
    <node pkg="rosbag" name="bag" type="play" args="--clock $(env HOME)/team_B_map/sds_kimi.bag"/>
</launch>
